body{
    margin: 0px;
    margin-top: 70px;
    font-family: Arial;
    font-size: 18px;

    color: rgb(33, 60, 66);
    z-index: 0;
}

h2{
    margin: 0px;
}

p{
    margin: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}